.navbar{
  background-color: #060B26;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.navbar-icon, .navbar-brand{
  color: aliceblue;
  font-size: 30px;
  margin-left: 90px;
}

.nav-menu{

  background-color: #030822;
  width: 200px;
  height: 100vh;
  position: absolute;
  left: -100%;
  top: 0px;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: 500ms;
  
}
.active{
  left: 0px;
  transition: 500ms;

}
.nav-menu li{
  list-style-type: none;
  margin-top: 20px;
  height: 70px;
  
}
.nav-menu li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 10px 5px 10px 5px;
 
}
.item-icon{
  font-size: 30px;
  
}
span{
  padding: 10px;
}

.nav-menu li a:hover{
  background-color:#d80c83;
}
.close-icon{
background-color: #fff;
  font-size: 30px;
  margin-left: 70px;
  height: auto;
  padding: 0px;
  
}